@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Nunito:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

/*  Container
* Bootstrap standards:
    xs (for phones - screens less than 768px wide)
    sm (for tablets - screens equal to or greater than 768px wide)
    md (for small laptops - screens equal to or greater than 992px wide)
    lg (for laptops and desktops - screens equal to or greater than 1200px wide)
 */
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

.w-300 {
  font-weight: 300;
}
.w-600 {
  font-weight: 600;
}

.mw-150 {
  max-width: 150px;
}

.leaflet-container {
  width: 50%;
  height: 90%;
}

@media (max-width: 760px) {
  .leaflet-container {
    width: calc(100% - 2rem);
    max-height: 40%;
    margin-top: 0.5rem;
  }
}
